<!DOCTYPE html>
<html lang="en">
    {% include "components/header.html" %}
    <body>
        <!-- Navigation-->
        {% include "components/main-navbar.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/error-bg.jpg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>An Error Has Occurred.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="notification" style="color:crimson">
                                {{ messages[0] }}
                            </div>
                        {% endif %}
                    {% endwith %}
                    
                </div>
            </div>
        </div>
        <!-- Footer-->
        {% include "components/footer.html" %}
    </body>
</html>
