{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "components/header.html" %}
{% import "bootstrap/wtf.html" as wtf%}

<!-- Page Header -->
{% if not editing %}
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/login-bg.jpg')}}')">
    {% else %}
    <header class="masthead" style="background-image: url('{{ form.data.img_url }}')">
        {% endif %}
        {{ ckeditor.load() }}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Log In</h1>
                        <span class="subheading">Welcome Back!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="notification" style="color:crimson">
                            <i>{{ messages[0] }}</i>
                        </div>
                    {% endif %}
                {% endwith %}
                {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
        </div>
    </div>

    {% include "components/footer.html" %}
    {% endblock %}