{% extends 'bootstrap/base.html' %}

{% block content %}
{% include "components/header.html" %}
{% import "bootstrap/wtf.html" as wtf%}
  <!-- Page Header -->
  {% if not editing %}
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg')}}')">
  {% else %}
    <header class="masthead" style="background-image: url('{{ form.data.img_url }}')">
  {% endif %}
    {{ ckeditor.load() }}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if not editing %}
              <h1>New Post</h1>
              <span class="subheading">You're going to make a great blog post!</span>
            {% else %}
              <h1>Edit Post</h1>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
          {{ ckeditor.load() }}
          {{ ckeditor.config(name='body') }}

          {% if editing %}
            <div class="clearfix">
              <a class="btn btn-primary float-right" id="delete-btn" href="{{url_for('delete_post', p_id=post_id)}}">Delete Post</a>
            </div>
          {% endif %}
      </div>
    </div>
  </div>

{% include "components/footer.html" %}
{% endblock %}