<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>My Library</h1>
    {% if books|length > 0 %}
        <ul>
            {% for book in books %}
                <li><a href=" {{ url_for('edit', book_id=book['id']) }} ">Edit</a> - {{ book['title'] }} - {{ book['author'] }} - {{ book['rating'] }}/10 - <a href=" {{ url_for('delete', book_id=book['id']) }} ">Delete Book</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Libary is empty.</p>
    {% endif %}
    
<a href="{{ url_for('add') }}">Add New Book</a>
</body>
</html>