<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinWeek - Home</title>
</head>
<body>
    <p style="font-size:30px;" align="center">Welcome to <u style="color:#13ad4a;"><b style="color:#81b843;">FinWeek</b></u> - your lightweight source for weekly stock news!</p>
    <div align="center">
        <img src="https://media0.giphy.com/media/gSzovsB0AL3DSuFfac/giphy.gif?cid=ecf05e47eylwu3kmppau04xuggabjx6qu4n1mmq7szakdi82&rid=giphy.gif&ct=g">
    </div>
</body>
</html>