<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wall Street Top</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>{{ title }}</h1></div>
           </div>
        <div class="content">
            <div class="card">
                <h2>{{ description }}</h2>
                <p>Read the full story: <a href="{{ url }}">{{ source }}</a></p>
            </div>

    </div>
</div>
</body>
<footer>
    <p>Copyright @ 2021 Stock Twits LLC.</p>
</footer>
</html>